@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@700;800&family=Russo+One&family=Staatliches&display=swap");
@font-face {
  font-family: resist;
  src: url(../fonts/Fontspring-DEMO-resist_mono_bold.otf);
}
@font-face {
  font-family: mazzard;
  src: url(../fonts/mazzard-h-black.otf);
}
.c3 {
  width: 33.33vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  border-radius: 5rem;
  background: rgba(188, 233, 253, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  align-items: flex-end;
}
h1 {
  margin-top: 180px;
  font-family: "Russo One";
  color: #005e97;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.field {
  width: 100%;
  height: 40px;
  display: flex;
}
input {
  width: 100%;
  height: 40px;
  border-radius: 6.27313rem;
  background: #c7eeff;
  border: none;
  color: #0077c0;
  font-family: resist;
  font-size: 18px;
  box-sizing: border-box;
  padding-left: 5px;
  padding-top: 3px;
}

select {
  height: 40px;
  width: 350px;
  border-radius: 6.27313rem;
  background: #c7eeff;
  border: none;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 10px;
  color: #0077c0;
  font-family: resist;
  padding-left: 10px;
}

option:disabled {
  padding: 10px;
  color: #0077c0;
  font-family: resist;
}
option {
  padding: 10px;
  padding-top: 12px;
  color: #0077c0;
  font-family: resist;
}
option:hover {
  background-color: #005e97;
}

::placeholder {
  color: #0077c0;
  font-family: resist;
}

.forgotBtn {
  width: 6rem;
  height: 1.6rem;
  border-radius: 3.72175rem;
  background: #c7eeff;
  color: #005e97;
  border: none;
  font-family: resist;
  padding: 2px;
  font-size: 9px;
  padding-top: 6px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.signBtn {
  width: 8.07619rem;
  border-radius: 3.72175rem;
  background: #c7eeff;
  flex-shrink: 0;
  border: none;
  color: #005e97;
  font-family: resist;
  font-size: 20px;
  padding: 6px;
  padding-top: 10px;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.signBtn:hover,
.forgotBtn:hover {
  color: #c7eeff;
  background: #005e97;
}

.signBtn:active,
.forgotBtn:active {
  color: #c7eeff;
  background: #005e97;
  transform: scale(90%);
}
